@model IEnumerable<Turnos.Models.Especialidad>

<ul class="nav justify-content-end">
   <li class="nav-item mx-2">
        <a asp-action="Create">
            <button type="button" class="btn btn-outline-success">Nuevo</button>
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="Index">
            <button type="button" class="btn btn-outline-primary">Volver</button>
        </a>
    </li>
</ul>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
        </tr>
    </thead>
    <tbody>
        @*Aquí colococaremos el código para mostrar los registros de la base de datos*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <span>&NonBreakingSpace;&NonBreakingSpace;</span>
                    <a asp-action="Edit" asp-route-id="@item.IdEspecialidad">Editar</a>
                    <span>&NonBreakingSpace;&NonBreakingSpace;</span>
                    <a asp-action="Delete" asp-route-id="@item.IdEspecialidad">Obliterar</a>
                </td>
            </tr>
        }

    </tbody>
</table>
